VITE_SUPABASE_URL=https://irvzuuomcyyftoppzqlw.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlydnp1dW9tY3l5ZnRvcHB6cWx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTM0MTksImV4cCI6MjA5NjY2OTQxOX0.ah83cj6XLF44A8vavvkisLeo-EN4FtLXT1mnr7RfvwM
VITE_GA4_ID=G-XXXXXXXXXX